{% import "_includes/forms" as forms %}

{% block content %}
    <div class="commerceFrenetSettings">
        <p><small>Version: {{ version }}</small></p>
        <p>
            {{ description }}
        </p>
        <hr>
            <h3>Units used *</h3> <br>
            Weight unit: <b>{{ craft.commerce.settings.weightUnits }}</b> <br>
            Dimension unit: <b>{{ craft.commerce.settings.dimensionUnits }}</b> 
        <br><br>
        <hr>
        <div>
            <h3>Configurations</h3>
            {{
                forms.textField({
                    id:             "token",
                    name:           "token",
                    label:          "Frenet Token"|t,
                    placeholder:    "paste your token here",
                    instructions:   "You can find your token at https://painel.frenet.com.br"|t,
                    value:          settings.token,
                    errors:         "",
                })
            }}

            {{
                forms.textField({
                    id:             "apiUrl",
                    name:           "apiUrl",
                    label:          "API Url"|t,
                    placeholder:    "http://api.frenet.com.br",
                    instructions:   "For production it will probably be http://api.frenet.com.br"|t,
                    value:          settings.apiUrl,
                    errors:         "",
                })
            }}

            {{
                forms.textField({
                    id:             "originCep",
                    name:           "originCep",
                    label:          "Origin CEP"|t,
                    placeholder:    "20000-000",
                    instructions:   "The CEP code from the address you will be shipping from."|t,
                    value:          settings.originCep,
                    errors:         "",
                })
            }}


            {{
                forms.textField({
                    id:             "extraShippingDays",
                    name:           "extraShippingDays",
                    label:          "Extra shipping days"|t,
                    placeholder:    "0",
                    instructions:   "Number of days to add to the result. This can be usefull if you need some more days to fulfill the order."|t,
                    value:          settings.extraShippingDays,
                    errors:         "",
                })
            }}

<hr>
            <h4>Debugging?</h4>
            {{
                forms.lightswitch({
                    onLabel:    "On",
                    offLabel:   "Off",
                    name:       "debug",
                    on:         settings.debug,
                })
            }}
            <p>Makes <em>all</em> log messages get logged.</p> 
            <p>(<code>LogLevel::Warning</code> and <code>LogLevel::Error</code> are always logged).</p>
            <hr>

        </div>
{% endblock %}
